.contact-forms {
    margin-top: 4rem;
    display: inline-flex;
    align-self: center;
    gap: 1.5rem;
}
.contact-form {
    background-color: #0F0F1A;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.75rem;
    padding: 1rem;
    width: 10rem;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-form:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 50px .1px rgba(255, 87, 45, .1);
}
.contact-form img {
    width: 2.5rem;
}
.contact-form-text {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-form-text img {
    width: 1.25rem;
}
h1 {
    text-align: center;
    margin: auto;
    margin-top: 4rem;
    width: 40rem;
}
.secondary-line {
    margin-top: 4rem;
    align-self: center;
    width: 12rem;
    background-color: #FFF5EA;
    height: 0.025rem;
}
footer {
    margin-top: 5rem;
}

@media only screen and (max-width: 768px) {
    .contact-form img {
        width: 2rem;
    }
    h1 {
        font-size: 2rem;
        width: 20rem;
    }
}